export(openspending.aggregate)
export(openspending.aggregateTree)
export(openspending.as.data.frame)
export(openspending.datasets)
export(openspending.dimensions)
export(openspending.distinct)
export(openspending.list.to.data.frame)
export(openspending.model)
export(openspending.search)
import(RCurl)
import(rjson)
