export(openspending.aggregate)
export(openspending.aggregateTree)
export(openspending.as.data.frame)
export(openspending.datasets)
export(openspending.dimensions)
export(openspending.distinct)
export(openspending.model)
import(RCurl)
import(rjson)
